[database]
user = <db_user>
password = <db_pwd>
dsn = (description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1521)(host=adb.us-ashburn-1.oraclecloud.com))(connect_data=(service_name=jhfjfophrgs6m05_adbvis_tp.adb.oraclecloud.com))(security=(ssl_server_dn_match=yes)))

[oci]
config_path = ~/.oci/config
compartment_id = <comp_id_ocid1.compartment.oc1..a>
embed_model_id = cohere.embed-v4.0
object_detection_model_id = <ocid1.aivisionmodel.oc1...>
generative_ai_endpoint = https://inference.generativeai.us-ashburn-1.oci.oraclecloud.com
